body{
    font-family: Arial, Helvetica, sans-serif;
    color: darkslategray;
}
/* 
Comment shortcut command + /
 */

 h1 {
    color: white;
 }

 p{
    background-color: lightblue;
 }

 /* Selecting multiple elements to add same style */
 h1,
 h2,
 h3,
 h4{
     text-decoration: underline;
 }

 /* Seklecting child elements */
 nav ul {
     list-style: none;
 }

 /* selecting child elements multiple levels */
 nav ul a{
     color: darkslategray;
     text-decoration: none;
 }

 /* selecting HTML element with class name */
 .orange-text{
     background: darkslategray;
     color-interpolation-filters: orange;
     text-decoration: none;
 }

 /* selecting id value for styling element */
 #tow{
     background:orange;
 }

 /* We can us multiple classes to one element */
 .large-text{
     font-size: 20px;
 }

 /* child selector or direct child selector 
 selecting only the p directly inside the article
 */
article>p{
    font-size: 24px ;
}

/* adjacent sibling selector 
Selecting only ul that is adjacent to h3
*/
h3+ul {
    border: 1px solid black;
}

/* attribute selector 
selecting element that has attribute of href set to value #tow
*/
[href="#tow"] {
    font-weight: bold;
}

[target="_blank"]{
    text-transform:uppercase;
}

/* using psuedo classes
styling Navigation*/
nav ul a,
nav ul a:link,
nav ul a:visited{
    background:orange;
    /* horizontal vertical blur spread color */
    box-shadow: -2px 2px 4px 2px black;
}

nav ul a:hover,
nav ul a:focus{
    text-decoration: underline;
}

nav ul a:active{
    box-shadow: 0 0 4px 2px black;
}

/* position related selectors */
/* first child selector */
aside ul li:first-child{
    font-weight: bold;
}

/* last child selector */
section ol li:last-child{
    font-weight: bold;
}

/* collapse table borders into one */
table{
    border-collapse: collapse;
}

tbody tr:nth-child(even){
    /* hex value for color with 6 characters */
    background-color: #d5836c;
}

/*using the nth child with n 
Where n is 0,1,2.... until thmber of elements
*/
table th:nth-child(n),
table td:nth-child(n){
    border: 1px solid #000;
}

/* 2n+1 will be 1,3,5,7.... */

table td:nth-child(2n+1){
    background: rgba(0, 0, 0, .2);
}
footer{
    background: bluefont;
}