/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* ------------------------------------------------------------
                        Custom Styles
----------------------------------------------------------------*/

html{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    box-sizing: border-box;
}

body{
    line-height: 1.5;
}

*,
*::after,
*::before{
    box-sizing: inherit;
    line-height: inherit;
}


h1,
h2,
h3,
h4,
h5{
    font-weight: bold;
    /* top left-right buttom */
    margin: 1em 0 0.5em;
}

h1{
    font-size: 5.063rem;
}
h2{
    font-size: 3.375rem;
    padding-left:10px;
}
h3{
    font-size: 2.25rem; 
    padding-left: 10px;
}
h4{
    font-size: 1.5rem;
}
h5{
    font-size: 1rem;
}

p{
    margin: 1em 0;
    padding-left: 1em;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 1em;
}

.black-button{
    background-color: #222;
    color: white;
    text-decoration: none;
    display: inline-block;
    padding: 20px;
    border: 1px solid #222;
    margin: 1em;
}
.orange-btn{
    background-color: #c78c06;
    color: #222;
    text-decoration: none;
    display: inline-block;
    padding: 20px;
    border: 1px solid;
}
.button{
    color: white;
    text-decoration: none;
    display: inline-block;
    padding: 20px;
    border: 1px solid #c78c06;
}

/* -----------Site Header--------------- */
.logo {

}

.site-header{
    background-color: #222;
}
/* ------------Navigation----------- */
.nav-list li{
    text-align: center;
}

.nav-list a,
.nav-list a:link,
.nav-list a:visited{
    display: block;
    padding:1em 0;
    text-decoration: none;
    color:#c78c06;
}

.nav-list a:hover,
.nav-list a:focus{
    color: #222;
    background-color: #c78c06;
}
/* -----------Search Bar---------- */
.search input{
width: 90%;
}
.im im-magnifier{
color: #c78c06;
}

/* ----------Welcome section---------- */
.welcome{
    background-image: url("../images/main-banner.jpg");
}
.welcome h1,
.welcome p{
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
}

/* ----------About Us Section------------ */
.about-us{
    background-color: #ffe6ac;
}
.about-img{
    width: 100%;
}

/* ----------------------------
      Our Services Section
----------------------------- */
/* Digital Transformation */
.digital-transformation{
background-color: #ffe6ac;
margin: 1em 0 0 0;
}
.digital{
    width: 100%;
    height: auto;
}


/* Marketing */
.marketing{
    background-color: #ffe6ac;
    margin: 1em 0 0 0;;
}
.marketing-img{
    width: 100%;
}

/* Video production */
.video-production{
    background-color: #ffe6ac;
    margin: 1em 0 0 0;
}
.video{
    width: 100%;
}

/* Web Development */
.web-development{
    background-color: #ffe6ac;
    margin: 1em 0 0 0;
}
.web{
    width: 100%;
}

/* Print */
.print{
    background-color: #ffe6ac;
    margin: 1em 0 0 0;
}
.print-img{
    width: 100%;
}

/* --------Our Vision---------- */
.our-vision{
   background-image: url(../images/vision.jpg);
   color: white;
}

/* ----------Our Team--------- */
.john-doe{
    background-color: #ffe6ac;
}
.john-doe p{
    padding-bottom: 1em;
}
.doe-img{
    width: 100%;
}

.bob-rite{
    background-color: #ffe6ac;
}
.bob-rite p{
    padding-bottom: 1em;
}
.rite-img{
    width: 100%;
}

/* ----------Contact Us--------- */
.name input{
    border: 1px solid #222;
    width: 100%;
}
.email input{
    border: 1px solid #222;
    width: 100%;
}
.message input{
    border: 1px solid #222;
    width: 100%;
}
.contact-button{
    background-color: #222;
    color: #c78c06;
    width: 5em 0 0 0;
}

/*------------- Hours of operation chart--------- */
.hours-operation{
    border: 1px solid #222;
}

.days,
.hours,
.mon-fri,
.sat-sun,
.hours-weekday,
.hours-weekend{
	box-sizing: border-box;
	padding: 20px;
	text-transform: uppercase;
	border: 1px solid #999;
	border-radius: .5em;
}
.days,
.hours{
  background-color: #FFCC66;
}
.hours-operation{
    display:grid;
     grid-template-columns: 2fr 1fr;
    grid-template-rows: repeat(3, 1fr)
  }
  .hours{
    order:-1
  }
  .days{
    order:-1
  }
  .sat-sun{
    order:2
  }
  .hours-weekday{
    order:1
  }
  .hours-weekend{
    order:2
  }
  .days{
    align-content: center;
  }
  /* ----------Site footer---------- */
  .site-footer{
      background-color: #222;
      color: #c78c06;
  }

  /* --------------------
       Desktop Styless
    ---------------------*/
    @media screen and (min-width:760px){
       /* Navigation */
       .nav-list{
        display:flex;
        width: 90%;
    }

    .nav-list li{
        flex:1;
        border: none;
        
    }

    .nav-list li:last-child{
        border: none;
    }
    /* Search bar */
    .search input{
        width: 10%;
        }
        
        /* Welcom */
        .welcome{
            height: 50em;
        }
        .welcome h1,
        .welcome p{
            text-align: center;
            margin-top: 3em;
        }
         
        /* About ud */
        
        .about-img{
            float: left;
            width: 40%;
            margin: 0 1em 1em 0;
        }
    
        /* our servicea */
        .services-top-grid{
            display:grid;
            grid-template-columns: 1fr 1fr ;
            gap: 1em;
        }
        .services-bottom-grid{
            display:grid;
            grid-template-columns: 1fr 1fr 1fr;
            gap: 1em;
        }

        /* Our Team */
        .our-team{
            display:grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr, 1fr;
            grid-template-areas: 
            "doe-img doe-info"
            "rite-img rite-info";
        }
        
    }